# Auto detect text files and normalize line endings to LF
* text=auto eol=lf

# Explicitly set text files
*.py text eol=lf
*.graphql text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.toml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
